*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore system files and directories
*.lnk
*.exe
*.pdf
desktop.ini
NTUSER.*
Application Data/
Cookies/
Local Settings/
My Documents/
Recent/
SendTo/
Templates/
OneDrive/

# Ignore Python and IDE-related files
venv/
myenv/
.idea/
.vscode/
__pycache__/

# Ignore other unnecessary files
*.log
*.tmp
